/*Text {*/
    /*-fx-font-size: 20;*/
/*}*/


#functionButton {
    -fx-background-color: #f0ad4e;
    -fx-border-radius: 8;
}

#functionButton{
    -fx-border-color: #eea236;
    -fx-text-fill: white;;
    -fx-font-size: 20;
}

/*hover state*/
#functionButton:hover {
    -fx-border-color: #d58512;
    -fx-background-color: #ec971f;
}

#functionButton:pressed {
    -fx-background-color: #ec971f;
    -fx-border-color: #d58512;
    -fx-effect: innershadow(gaussian, #d58512, 10, 0, 0, 3);
}


/*.root {*/
    /*-fx-background-image: url("constructBuildingBg.jpg");*/
/*}*/

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#playerInfoPanel {
    -fx-background-color: white;
    /*-fx-opacity: 0.8;*/
    -fx-border-radius: 10;
}

#functionPanel {
    -fx-background-color: white;
    /*-fx-opacity: 0.8;*/
    -fx-border-radius: 10;
}
.scroll-pane {
    -fx-background-color: white;
    /*-fx-opacity: 0.8;*/
    -fx-border-radius: 10;
}


#currentBaseContainer {
    -fx-background-color: white;
    /*-fx-opacity: 0.8;*/
    -fx-border-radius: 10;
}

#timer{
    -fx-font-family: "digital-7";
    -fx-font-size: 30;
}
