.root {
    /*-fx-background-image: url("welcomeBackground.jpg");*/
}

Button {
    -fx-font-size: 25;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-pref-height: 30;
    -fx-min-width: 30;

}

#buffButton {
    -fx-background-color: #d9534f;
    -fx-border-color: #d43f3a;
    -fx-text-fill: white;
}

#buffButton:hover {
    -fx-border-color: #ac2925;
    -fx-background-color: #c9302c;
}

#buffButton:pressed {
    -fx-border-color: #ac2925;
    -fx-background-color: #c9302c;
    -fx-effect: innershadow(gaussian, #ac2925, 10, 0, 0, 3);
}

#startButton {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-text-fill: #333333;
}

#startButton:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #acacac;
}

#startButton:pressed {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #acacac;
    -fx-effect: innershadow(gaussian, #adadad, 10, 0, 0, 3);
}
